## Summarize Tables
* Joins FIPS codes to downloaded water tables and summarizes by state

In [1]:
#import libraries
import sys, os
import pandas as pd
import numpy as np

In [8]:
#get the filenames
dataDir = "../../Data"
fipsCSV = dataDir + os.sep + "FIPS.csv"
supplyCSV = dataDir + os.sep + "HydroData.csv"
usageCSV = dataDir + os.sep + "UseData.csv"
outCSV = dataDir + os.sep + "foo.csv"

In [10]:
#make data frames from the csv files
dfFIPS = pd.read_csv(fipsCSV)
dfSupply = pd.read_csv(supplyCSV)
dfUsage = pd.read_csv(usageCSV)
print dfFIPS.shape, dfSupply.shape, dfUsage.shape

(54017, 2) (162051, 9) (9670, 118)

In [22]:
#Pivot usage, group on state list each year
pt = dfUsage.pivot_table(values='TP-TotPop',index='STATEFIPS',columns='YEAR',aggfunc=np.sum)
pt.to_csv(outCSV)

In [30]:
#Create a total withdrawl tables
wdNames = ['Public','Domestic','Industry','Irrigation','Livestock','Aquaculture','Mining','Thermo']
wdFields = ['PS-Wtotl','DO-WFrTo','IN-Wtotl','IR-WFrTo','LI-WFrTo','AQ-WFrTo','MI-WFrTo','PT-WFrTo']
df2000 = df[wdFields]
pt2000 = dfUsage[dfUsage.YEAR == 2010].pivot_table(index='STATE',values=wdFields,aggfunc=np.sum).T
pt2000.NC

AQ-WFrTo    1466.23
DO-WFrTo     231.35
IN-Wtotl     271.38
IR-WFrTo     366.93
MI-WFrTo      32.63
PS-Wtotl     959.79
PT-WFrTo    7656.41
Name: NC, dtype: float64

In [91]:
wdNames = ['YEAR','STATE','Public','Domestic','Industry','Irrigation','Livestock','Aquaculture','Mining','Thermo','zTOTAL']
wdFields = ['YEAR','STATE','PS-WFrTo','DO-WFrTo','IN-WFrTo','IR-WFrTo','LI-WFrTo','AQ-WFrTo','MI-WFrTo','PT-WFrTo','TO-WFrTo']
#df2000 = dfUsage[dfUsage.YEAR == 2000]
dfWithdrawals = dfUsage[wdFields]
dfWithdrawals.columns = wdNames
#p2000 = dfWithdrawals[wdNames][dfUsage.YEAR == 2000].pivot_table(index=('STATE','YEAR'),values=wdNames,aggfunc=np.sum).T
p2000 = dfWithdrawals[wdNames].pivot_table(index=('STATE','YEAR'),values=wdNames,aggfunc=np.sum).T
print p2000

STATE            AK                       AL                          AR  \
YEAR           2000    2005    2010     2000     2005     2010      2000
Aquaculture     NaN  720.44  683.85    10.37    74.89    59.10    197.71
Domestic      11.18   14.06   14.80    78.88    39.12    37.97     28.46
Industry       8.12    8.16    7.78   833.09   550.42   574.43    133.83
Irrigation      NaN    1.05    1.59      NaN   161.20   158.90       NaN
Livestock       NaN    0.30    0.25      NaN    28.11    26.48       NaN
Mining        27.38   22.20   24.09      NaN    27.82    20.21      2.78
Public        80.03   75.79   79.05   834.45   801.66   831.07    420.77
Thermo        33.55   33.55   57.99  8189.79  8274.42  8251.81   2175.37
zTOTAL       161.27  875.55  869.40  9989.72  9957.64  9959.97  10872.29

STATE                                 AZ   ...          WA       WI           \
YEAR             2005      2010     2000   ...        2010     2000     2005
Aquaculture    256.47    267.60      NaN   ...      213.16    70.20    81.72
Domestic        17.83     12.84    28.88   ...      112.84    96.28    87.32
Industry       178.32    270.52    19.76   ...      457.74   447.17   470.89
Irrigation    8534.19   8719.73      NaN   ...     3146.91      NaN   401.78
Livestock       38.85     38.96      NaN   ...       27.75    66.33    72.84
Mining           1.29     44.29    85.68   ...       16.71      NaN    32.52
Public         404.10    428.67  1082.55   ...      909.63   623.15   552.39
Thermo        1997.24   1539.30   100.45   ...       37.93  6094.44  6897.93
zTOTAL       11428.29  11321.91  6720.98   ...     4922.67  7593.93  8597.39

STATE                      WV                         WY
YEAR            2010     2000     2005     2010     2000     2005     2010
Aquaculture    55.76      NaN    52.74    52.32      NaN    23.32    20.83
Domestic       78.36      NaN    33.50    31.51     6.57     6.32     8.55
Industry      436.14   968.10   965.64   764.16     5.78     6.04     6.74
Irrigation    378.80      NaN     0.02     0.09      NaN  3991.95  4369.34
Livestock      73.07      NaN     4.99     5.08      NaN    16.22    16.48
Mining         19.56      NaN    14.15    14.53    79.49    51.77    50.12
Public        481.41   190.35   188.82   189.17   106.54    96.27    98.98
Thermo       4634.49  3949.09  3551.41  2471.31   243.28   222.78    63.35
zTOTAL       6157.59      NaN  4811.27  3528.17  4943.98  4414.67  4634.39

[9 rows x 159 columns]

In [32]:
pt2000.NC.sum()

10984.719999999999

In [34]:
1466.23 + 231.55 + 271.38 + 366.93 + 32.63 + 959.79 + 7656.41

10984.92